################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/CryptoPlayground/obj
/src/CryptoPlayground/bin
/.vs
/src/CryptoPlayground/CryptoPlayground.csproj.user
